/* Your CSS here... */
body {
    text-align: left;
    margin: auto;
    height: 100%;
}
#messages div {
    display: block;
    width: 100%;
    margin: auto;
} 
.message .username {
    display: inline;
}