/* Your CSS here... */
body {
    text-align: left;
    /* margin: auto; */
    /* height: 100%; */
    font-size: 1em;
    font-family: sans-serif;
}
#messages {
    display:inline-block;
}
#messages div {
    display: block;
    /* width: auto; */
    margin: auto;
    margin-bottom: 1em;
    padding: 0.66em 1em 0.5em;
    border-radius: 1em;
    background-color: #95f598;
} 
.username, .message {
    display: inline;
}

.message {
    font-weight: bold;
}
.username {
    font-style: italic;
    font-size: 0.75em;
    padding-left: 0.25em;
}